.header {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)),
    url("img/B1.jpg") center/cover no-repeat;
  color: #fff;
}
.text-head {
  color: #000;
}

.imgg{
  height: 400px;
  width: 800px;
  border-radius: 100px;
}